version: '3'
services:
  client:
    container_name: client
    build:
      context: ./client
    ports:
      - '3000:3000'
    volumes:
      - ./client:/client
    command: bash -c 'npm install && npm run prepare && npm run start'
